<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    @for (item of items(); track item.label; let isLast = $last) {
      <li class="breadcrumb-item">
        @if (item.url && !isLast) {
          <a [routerLink]="item.url" class="breadcrumb-link">
            {{ item.label }}
          </a>
        } @else {
          <span class="breadcrumb-current">{{ item.label }}</span>
        }
        @if (!isLast) {
          <span class="breadcrumb-separator">/</span>
        }
      </li>
    }
  </ol>
</nav>
